.container {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 10px;
}
.formContainer {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.flexColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.formInput {
    width: 100%;
    margin-top: 10px;
}
.formBtn {
    width: 100%;
    margin-top: 10px;
}
.linkMargin {
    margin: 0 0 0 10px;
}
.alignLeft {
    align-self: flex-start;
    margin: 0 0 5px 30px;
}
.redText {
    color: crimson;
}
.width300px {
    width: 300px;
}
.width50 {
    width: 50%;
}